

table, tbody, tr, td, thead {
    border: 3px solid #122b9c;
    border-collapse: collapse;
    align-items:center ;
    margin: auto;
    width: 50%;
    padding: 10px;
}
tr {
    font-size: 22px;
}

thead {
    text-align: center;
}